<section class="mx-auto mt-2 rounded" style="width: 18rem;">
  <!-- TOGGLE: SHOW ALL COMMENTS -->
  <!-- ADD COMMENTS FORM -->
  <% if(user){ %>
  <div class="bg-white rounded">
    <section class="flex p-2">
      <div class="mr-1">
        <a href="/profile/<%= emailForComment %>">
          <% if(photoUrlForComment){ %>
              <img src="<%= photoUrlForComment %>" class="w-8 h-8 rounded-full" alt="profile pic"/>
            <% } else { %>
              <img src="../../static/blank.png" class="w-8 h-8 rounded-full" alt="profile picture"/>
            <% }%>
        </a>
      </div>
      <div style="width: 15rem;">
        <input
          id="input-comment"
          type="text"
          name="comment"
          class="focus:bg-gray-100 w-full p-2"
          placeholder="What's on your mind?"
          style="background-color: #F2F3F5; white-space: pre-wrap;"
        >
        <button id="button-comment" class="rounded bg-blue-600 hover:bg-blue-800 text-white w-full">
          Submit
        </button>
      </div>
    </section>
  </div>
  <% } %>
  <!-- COMMENTS FORM END -->
  <!-- COMMENTS DISPLAY -->
  <!-- 
    IF COMMENTS ARRAY EXISTS ON USER DOCUMENT, THEN CHECK IF COMMENTS ARRAY HAS ANY ELEMENT(COMMENTS).
    SHOW NO COMMENT FOUND FOR BOTH IF FALSE
   -->
  <ul id="comment-container-ul" class="mb-6 bg-white relative">
    <% if(profile.comments){ %> 
    <% profile.comments.reverse().forEach(comment => { %>
    <li id="li-comment" class="my-2 p-2 rounded">
      <div class="flex">
        <div class="flex mr-1">
          <a href="/profile/<%= comment.visitorEmail %>">
            <% if(comment.photo){ %>
              <img src="<%= comment.photo %>" class="w-8 h-8 rounded-full" alt="profile pic"/>
            <% } else { %>
              <img src="../../static/blank.png" class="w-8 h-8 rounded-full" alt="profile picture"/>
            <%}%>
          </a>
        </div>
        <div
          class="rounded px-2"
          style="overflow-wrap: break-word; min-width: 0px; width: 15rem; background-color: #F2F3F5;"
        >
          <a href="/profile/<%= comment.visitorEmail %>" class="font-medium"
            ><%= comment.visitorFirstName %></a
          >
          <p><%- filterUserHTML(comment.comment) %></p>
        </div>
      </div>
      <div class="flex justify-between items-center mt-2 text-xs">
        <p>
          <%= comment.commentDate %>
        </p>
        <div class="flex">
          <% if(user){ %> <% if(comment.visitorEmail == user.email){ %>
          <!-- EDIT BUTTON -->
          <label
            for="edit-comment-button"
            class="flex items-center cursor-pointer"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="15"
              height="15"
            >
              <path
                fill="green"
                class="heroicon-ui"
                d="M6.3 12.3l10-10a1 1 0 0 1 1.4 0l4 4a1 1 0 0 1 0 1.4l-10 10a1 1 0 0 1-.7.3H7a1 1 0 0 1-1-1v-4a1 1 0 0 1 .3-.7zM8 16h2.59l9-9L17 4.41l-9 9V16zm10-2a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2h6a1 1 0 0 1 0 2H4v14h14v-6z"
              />
            </svg>
            <input
              type="button"
              value="Edit"
              id="edit-comment-button"
              class="flex bg-white items-center cursor-pointer"
            />
          </label>
          <!-- EDIT BUTTON ENDS-->
          <!-- DELETE BUTTON -->
          <label class="flex items-center ml-2 cursor-pointer" for="delete-comment-button">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="15"
                height="15"
              >
                <path
                  fill="red"
                  class="heroicon-ui"
                  d="M8 6V4c0-1.1.9-2 2-2h4a2 2 0 0 1 2 2v2h5a1 1 0 0 1 0 2h-1v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V8H3a1 1 0 1 1 0-2h5zM6 8v12h12V8H6zm8-2V4h-4v2h4zm-4 4a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0v-6a1 1 0 0 1 1-1zm4 0a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0v-6a1 1 0 0 1 1-1z"
                />
              </svg>
            <input
              type="button"
              value="Delete"
              id="delete-comment-button"
              data-id="<%- comment.commentId %>"
              class="delete-comment flex items-center bg-white cursor-pointer"
            />
            </label>
          <!-- DELETE BUTTON ENDS -->
          <%}%> <%}%>
        </div>
      </div>
      <!-- EDIT COMMENT FORM -->
      <div
        id="comment-edit-container"
        class="absolute w-full -ml-2 -mt-12"
        style="display: none;"
      >
        <form
          id="edit-comment-form"
          action="/edit-comment"
          method="POST"
          class="w-full  p-2 bg-gray-200 border border-blue-400 rounded"
        >
          <textarea
            name="comment"
            value="<%= comment.comment %>"
            class="w-full"
          >
<%= comment.comment %></textarea
          >
          <input
            type="hidden"
            name="commentId"
            value="<%= comment.commentId %>"
          />
        </form>
        <div class="flex justify-between">
          <button
            id="cancel-edit-comment"
            class="bg-green-600 text-white px-2 rounded"
          >
            Cancel
          </button>
          <button
            id="update-comment"
            class="bg-blue-600 text-white px-2 rounded"
          >
            Update
          </button>
        </div>
      </div>
      <!-- EDIT COMMENT FORM ENDS -->
    </li>
    <% }) %> 
    <%}%>
  </ul>
</section>
