<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= typeof(locals.seo) == "undefined" ? 'GSS Gwarinpa Contact Book 📗' : `${locals.seo.firstName} ${locals.seo.lastName} | GSS Gwarinpa Contact Book 📗` %></title>
    <!-- FAVICON -->
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <!-- FAVICON ENDS -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- SEO -->
    <meta itemprop="name" content="GSS Gwarinpa Contact Book 📗" />
    <meta itemprop="description" content="Find Your GSS Gwarinpa Classmates and Their Contacts." />
    <meta itemprop="image" content="<%= typeof(locals.seo) == 'undefined' ? 'https://gss-gwarinpa.s3.us-east-2.amazonaws.com/1580629627915' : `${locals.seo.photo}` %>" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="profile" />
    <meta property="og:url" content="<%= typeof(locals.seo) == 'undefined' ? 'https://www.gssgcontactbook.com/' : `${locals.seo.url}` %>" />
    <meta property="og:site_name" content="GSS Gwarinpa Contact Book 📗" />
    <meta property="og:title" content="<%= typeof(locals.seo) == 'undefined' ? 'GSS Gwarinpa Contact Book 📗' : `${locals.seo.firstName} ${locals.seo.lastName} | GSS Gwarinpa Contact Book 📗` %>" />
    <meta property="og:description" content="Find Your GSS Gwarinpa Classmates and Their Contacts." />
    <meta property="og:image" content="<%= typeof(locals.seo) == 'undefined' ? 'https://gss-gwarinpa.s3.us-east-2.amazonaws.com/1580629627915' : `${locals.seo.photo}` %>" />
    <meta property="og:image:alt" content="Profile photo" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="GSS Gwarinpa Contact Book 📗" />
    <meta name="twitter:description" content="Find Your GSS Gwarinpa Classmates and Their Contacts." />
    <meta name="twitter:image" content="<%= typeof(locals.seo) == 'undefined' ? 'https://gss-gwarinpa.s3.us-east-2.amazonaws.com/1580629627915' : `${locals.seo.photo}` %>" />
    <!-- SEO ENDS -->
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="/main-bundled.js" defer></script>
    <link type="text/css" href="/main.css" rel="stylesheet" />
  </head>

  <header class="bg-green-600 py-3 text-xs text-white">
    <nav class="flex justify-around items-center px-6">
      <a class="inline-block text-md sm:text-lg mr-2" href="/"
        >GSS Gwarinpa Contact Book
      </a>

      <% if (user) { %>
      <form action="/logout" method="POST" class="flex flex-wrap">
        <label for="logout">
            <input
                id="logout"
                value="Logout"
                type="submit"
                class="mr-4 rounded bg-transparent cursor-pointer border border-white hover:bg-green-800 px-3 py-1">
        </label>
      </form>

      <% } else { %>
        <div class="flex text-lg">
          <a href="/login" class="rounded mr-12 text-center inline-block border text-black border-black bg-white
          hover:bg-gray-200 px-3 text-bold">Login</a>
          <a
          href="/register"
          class="rounded text-center inline-block border border-white bg-blue-600
          hover:bg-blue-800 px-3 text-bold"
          >
          Add Your Profile
          </a>
        </div>
    </nav>
    <% } %>
  </header>

  <body class="bg-gray-200">
  <a id='skip-nav' class='screenreader-text' href='#main-content'>
      Skip to Main Content
   </a>
  <main id='main-content'>
    <!-- BODY  -->
