<div class="max-w-sm sm:max-w-xs bg-white rounded shadow-lg">
  <div class="h-56">
    <% if(profile.photo){ %>
    <img
      class="w-full h-full object-cover"
      title="<%= profile.firstName %>"
      src="<%= profile.photo %>"
      alt="profile picture"
    />
    <% } else { %>
    <img
      class="w-full h-full object-cover"
      title="<%= profile.firstName %> <%= profile.lastName %>"
      src="../../static/user.svg"
      alt="profile picture"
    />
    <%}%>
  </div>
  <div class="px-6 py-4">
    <div class="text-xl font-bold mb-2">
      <%= profile.firstName %> <%= profile.lastName %>
    </div>
    <p class="mb-3">
      <span class="text-gray-600">Class of</span>: <%= profile.year %>
    </p>
    <p class="mb-3">
      <span class="text-gray-600">Email:</span> <%= profile.email %>
    </p>
    <p class="mb-3">
      <span class="text-gray-600">Nickname:</span> <%= profile.nickname %>
    </p>
  </div>
</div>
