<div class="max-w-xs bg-white overflow-hidden rounded m-4 shadow-lg">
  <img
    class="w-full"
    title="<%= profile.firstName %> <%= profile.lastName %>"
    src="../static/pic.jpg"
    alt="profile picture"
  />
  <div class="px-6 py-4">
    <div class="text-xl font-bold mb-2">
      <%= profile.firstName %> <%= profile.lastName %>
    </div>
    <p class="mb-3">
      <span class="text-gray-600">Class of</span>: <%= profile.year %>
    </p>
    <p class="mb-3">
      <span class="text-gray-600">Email:</span> <%= profile.email %>
    </p>
  </div>
</div>
