<div class="mt-3 max-w-sm sm:max-w-xs text-right">
  <button id="more-profile-btn" class="text-lg text-blue-600 italic">
    Show full profile
  </button>
</div>
<div
  id="more-profile-container"
  style="display: none"
  class="mt-3 p-4 max-w-sm sm:max-w-xs bg-white rounded shadow-lg"
>
  <p class="mb-1">
    <span class="text-gray-600">Email:</span> <%= profile.email %>
  </p>
  <p class="mb-1 ">
    <span class="text-gray-600">Phone Number:</span> <%= profile.phone %>
  </p>
  <p class="mb-1 ">
    <span class="text-gray-600">Favorite Teacher:</span> <%= profile.teacher%>
  </p>
  <% if(profile.social_type_1){ %>
  <p class="mb-1 flex">
    <span class="text-gray-600  mr-2 inline-block"
      ><%= profile.social_type_1 %>:
    </span>
    <a href="#" class="text-blue-600"><%= profile.link_social_type_1 %></a>
  </p>
  <% } else { %>
  <p class="mb-1 flex">
    <span class="text-gray-600  mr-2 inline-block">Social Media #1: </span>
  </p>
  <%}%> <% if(profile.social_type_2){ %>
  <p class="mb-1 flex">
    <span class="text-gray-600  mr-2 inline-block"
      ><%= profile.social_type_2 %>:
    </span>
    <a href="#" class="text-blue-600"><%= profile.link_social_type_2 %></a>
  </p>
  <% } else { %>
  <p class="mb-1 flex">
    <span class="text-gray-600  mr-2 inline-block">Social Media #2: </span>
  </p>
  <%}%>
</div>
