<!-- HEADER -->
<%- include('includes/header') %>
<!-- HEADER END-->
<!-- ERROR FLASH MESSAGE -->
<%- include('includes/flash') %>
<!-- ERROR FLASH MESSAGE END-->

<!-- IF USER LOGGED IN -->
<% if(user){ %> <%- include('includes/loggedInUser') %> <% } %>
<!-- IF USER LOGGED IN END-->

<!-- GUESS USER -->
<%- include('includes/searchBar') %>
<div class="flex flex-wrap justify-center">
<% profiles.forEach(profile => { %> 
    <a class="m-4" href="/profile/<%= profile.email %>"><%- include('includes/profileShared', {profile: profile}) %></a>
<% }) %>
</div>
<!-- GUESS USER END-->

<!-- HEADER-->
<%- include('includes/footer') %>
<!-- HEADER END-->
