<!-- HEADER -->
<%- include('includes/header') %>
<!-- HEADER END-->
<!-- ERROR FLASH MESSAGE -->
<%- include('includes/flash') %>
<!-- ERROR FLASH MESSAGE END-->

<!-- LOGGED IN -->
<% if(user){ %> <%- include('includes/loggedInUser') %> <% } %>
<!-- LOGGED IN END-->

<!-- GUESS USER -->

<%- include('includes/searchBar') %>
<%- include('includes/sort') %>
<div id="anchor-tag" class="flex flex-wrap justify-center">
  <% if(profiles.length){ %> <% profiles.forEach(profile => { %>
  <a  class="m-4" href="/profile/<%= profile.email %>">
    <%- include('includes/profileShared', {profile: profile}) %>

  <!-- SHOW NUMBER OF COMMENTS -->
    <section class="mx-auto p-2 border-t border-gray-200 text-xs -mt-1 rounded shadow-lg bg-white" style="width: 18rem;">
      <% if(profile.comments){ %>
          <% if(profile.comments.length){ %>
            <!-- CHECK IF COMMENT IS GREATER THAN 1 -->
            <% if(profile.comments.length > 1){ %>
              <div class="flex">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M2 15V5c0-1.1.9-2 2-2h16a2 2 0 0 1 2 2v15a1 1 0 0 1-1.7.7L16.58 17H4a2 2 0 0 1-2-2zM20 5H4v10h13a1 1 0 0 1 .7.3l2.3 2.29V5z"/></svg>
              <p class="ml-1">View <%= profile.comments.length %> comments</p>
            </div>
            <% } else { %>
              <div class="flex">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M2 15V5c0-1.1.9-2 2-2h16a2 2 0 0 1 2 2v15a1 1 0 0 1-1.7.7L16.58 17H4a2 2 0 0 1-2-2zM20 5H4v10h13a1 1 0 0 1 .7.3l2.3 2.29V5z"/></svg>
              <p class="ml-1">View <%= profile.comments.length %> comment</p>
            </div>
            <!-- CHECK IF COMMENT IS GREATER THAN 1 ENDS-->
            <% } %> 
          <% } else { %>
            <div class="flex">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M2 15V5c0-1.1.9-2 2-2h16a2 2 0 0 1 2 2v15a1 1 0 0 1-1.7.7L16.58 17H4a2 2 0 0 1-2-2zM20 5H4v10h13a1 1 0 0 1 .7.3l2.3 2.29V5z"/></svg>
              <p class="ml-1">Say hello</p>
            </div>
          <% } %> 
      <% } else { %>
        <div class="flex">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M2 15V5c0-1.1.9-2 2-2h16a2 2 0 0 1 2 2v15a1 1 0 0 1-1.7.7L16.58 17H4a2 2 0 0 1-2-2zM20 5H4v10h13a1 1 0 0 1 .7.3l2.3 2.29V5z"/></svg>
              <p class="ml-1">Say hello</p>
            </div>
      <% } %> 
    </section>
  <!-- SHOW NUMBER OF COMMENTS END -->

  </a>
  <% }) %> <% } else { %>
  <p>No profile found.</p>
  <%}%>
</div>
<!-- GUESS USER END-->

<!-- FOOTER-->
<%- include('includes/footer') %>
<!-- FOOTER END-->
