<%- include('includes/header') %> <% errors.forEach(function(message){ %>
<div
  class="bg-red-100 border border-red-400 text-red-700 text-center px-4 py-3 rounded relative"
>
  <%= message %>
</div>
<% }) %> <% if(user){ %>
<!-- IF USER LOGGED IN THEY WILL SEE THIS -->
<%- include('includes/loggedInUser') %>
<!-- IF USER LOGGED IN THEY WILL SEE THIS END-->
<% } %>

<!-- GUESS USER WILL SEE THIS -->
<%- include('includes/guestUser') %>
<!-- GUESS USER WILL SEE THIS END-->

<%- include('includes/footer') %>
