<%- include('includes/header') %> 
<%- include('includes/goToHomePage') %>
<div class="max-w-sm sm:max-w-xs mx-auto">
<%- include('includes/profileShared') %> 
<%- include('includes/toggleMoreProfile') %>
</div>
<%- include('includes/commentsForm') %>
<%-include('includes/footer') %>
