<%- include('includes/header') %> 
<div class="max-w-xs mx-auto"><%- include('includes/flash') %></div>
<%- include('includes/goToHomePage') %>
<div class="max-w-sm sm:max-w-xs mx-auto">
<%- include('includes/profileShared') %> 
<!-- SHOW NUMBER OF COMMENTS AND LIKES -->
    <%- include('includes/homepageForEachProfileGuest', {profile: profile}) %>
<!-- SHOW NUMBER OF COMMENTS AND LIKES END -->
<%- include('includes/toggleMoreProfile') %>
</div>
<% if(user){ %>
  <div class="flex justify-end mt-3 items-center mx-auto" style="width: 18rem;">
    <%- include('includes/likes') %>
  </div>
<%} else {%>
  <div class="flex justify-between mt-3 items-center mx-auto" style="width: 18rem;">
    <%- include('includes/loginToCommentLike') %>
    <%- include('includes/likesGuest') %>
  </div>
<%}%>
<%- include('includes/commentsForm') %>
<%-include('includes/footer') %>